{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {{ form_start(form) }}

        {{ form_widget(form) }}
        <button type="submit" class="btn btn-success"> Create User</button>
        <a href="/user/user-list" class="btn btn-primary"> Back</a>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block title %}

{% endblock %}